.main {
	width: 80%;
	height: 1500px;
	margin: 0 auto;
}
.header {
	width: 100%;
	height: 100px;
}
.header__logo,
.header__menu {
	float: left;
}
.header__info {
	float: right;
}
.header__logo {
	width: 20%;
	height: 100px;
}
.header__logo img {
	width: 100%;
	height: 100%;
}
.header__menu ul {
	list-style: none;
	float: left;
}
.header__menu a {
	text-decoration: none;
	padding: 6px;
	background-color: #318ce7;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	transition: 0.7s;
}
.header__menu a:hover
 {
	padding: 6px;
	background-color: #50c878;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
}

.main-btn {

	text-decoration: none;
	padding: 6px;
	background-color: #318ce7;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	transition: 0.7s;
	margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(191,185,191,1);
-moz-box-shadow: 0px 10px 5px 0px rgba(191,185,191,1);
box-shadow: 0px 10px 5px 0px rgba(191,185,191,1);
}

.main-btn:active

 {
 	-webkit-transform: scale(-0.7, 0.7);
	margin-left: 20px;
    margin-top: 30px;
    display: inline-block;
	-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
text-decoration: none;
	padding: 6px;
	background-color: #50c878;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
}


.header__menu li {
	float: left;
	margin-left: 10px;
}

.header__menu {
	width: 50%;
	height: 100px;
}

.header__info {
	width: 30%;
	height: 100px;
}

.header__info a {
	text-decoration: none;
	color: #318ce7;
	font-size: 18px;
}

.header__info span {
	color: #50c878;
	font-weight: 600;
	font-size: 20px;
}

.main__content {
	width: 100%;
	min-height: 1000px;
	height: auto;
	background-color: #fdf5e6;
}

.main__sidebar {
	width: 30%;
	min-height: 1000px;;
	height: auto;
	background-color: #318ce7;
	float: left;
}

.main__sidebar a {
    text-decoration: none;
	padding: 6px;
	color: #fff;
	text-transform: uppercase;
}

.main__sidebar ul {
	list-style: none;
}

.main__post {
	width: 70%;
	min-height: 1000px;
	height: auto;
	float: left;
}

.main__post-left {
	width: 300px;
	min-height: 200px;
	height: auto;
	/*
	border-color: red;
	border-style: solid;
	border-width: 3px;
	*/
	border: 3px solid red;
	background-color: red;
	position: relative;
	top: 40px;
	left: 40px;
	z-index: 102;
	/*overflow: hidden;
	padding-left: 20px;*/
}

.main__post-right {
	width: 300px;
	height: 200px;
	/*
	border-color: red;
	border-style: solid;
	border-width: 3px;
	*/
	border: 3px solid green;
	background-color: green;
	position: relative;
	top: -206px;
	left: 0px;
	z-index: 101;

}

.main__form {
	width: 50%;
	height: auto;
	margin: 0 auto;
	min-height: 300px;
	border: 1px solid red;
	border-radius: 5px;
	margin-top: 30px;
}

.main__form-name {
	width: 210px;
	height: 25px;
	margin: 20px 50px 0px 50px;
	::-webkit-input-placeholder {
		color: #c0392b;
	}
	::-moz-placeholder {
		color: #c0392b;
	} /* Firefox 19+ */
	:-moz-placeholder {
		color: #c0392b;
	} /* Firefox 18- */
	:-ms-input-placeholder {
		color: #c0392b;
	}
}

.main__post-left p {
	color: #fff;
	text-indent: 30px;
	margin-left: 20px;
}

.main__post-left span {
	color: #50c878;
	text-indent: 30px;
	margin-left: 20px;
	font-weight: 700;
}

.main__post-img {
	width: 300px;
	height: 300px;
	border: 1px solid red;
	margin: 0 auto;
	margin-top: 40px;
	background-image: url('../images/img.jpg');
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;

}

.main__post-test {
	width: 300px;
	height: 300px;
	border: 1px solid red;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}



.footer {
	width: 100%;
	height: 250px;
	background-color: #838996;
}
