{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%  static 'articles/css/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="header-logo">
        <a href="{% url 'index' %}">
            <img src="{%  static 'articles/img/logo.png' %}" alt="Логотип">
        </a>
    </div>
    <div class="header-menu">
        <nav>
            <ul class="header-menu-main">
                {% if not onepostmark %}
                    <li><a href="{% url 'index' %}">Все статьи</a></li>
                    <li><a href="{% url 'dbtrening' %}">Тренировочная база</a></li>
                    <li><a href="{% url 'myforms' %}">Формы</a></li>
                    <li><a href="{% url 'spec' %}">Связь двух таблиц</a></li>
                    <li><a href="{% url 'tomany' %}">Многие ко многим</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="header-admin">
        <a href="/admin/login/">Админка</a>
    </div>
</div>
<div class="main-section">
    <div class="main-sidebar">

            {% block contentcategory %}
            {% endblock %}

         <!-- Многие ко многим-->
            {% block students %}
            {% endblock %}

    </div>
    <div class="main-content">

            {% block contentpost %}
            {% endblock %}

            <!-- Форма заполнения данными в базу-->
            {% block myform %}
            {% endblock %}

            <!-- Многие ко многим-->
            {% block curses %}
            {% endblock %}

    </div>

</div>

<div class="many-to-many">
    {% block courforstud %}
    {% endblock %}

    {% block studforcurs %}
    {% endblock %}
</div>

{% block onepost %}
{% endblock %}

{% block person %}
{% endblock %}

{% block spec %}
{% endblock %}

<script src="{% static 'articles/js/script.js' %}"></script>
</body>
</html>