{% extends 'articles/basa.html' %}

{% block contentcategory %}

 <h2 class="main-sction-title">Категории</h2>
        <h2><a href="{% url 'index' %}">Все статьи</a></h2>
<ul class="category-sction">
    {% for c in category %}

        <li>
           <h2><a href="{{ c.get_absolute_url }}">{{c.name}}</a></h2>
        </li>

    {% endfor %}
</ul>


{% endblock %}

{% block contentpost %}
 <h2 class="main-sction-title">Новости</h2>
    {% for p in posts %}

            <p><a href="{{ p.get_absolute_url }}">{{p.title}}</a></p>
            <p>{{p.content}}</p>
<hr>
    {% endfor %}

{% endblock %}